{
  "openapi": "3.1.1",
  "info": {
    "title": "Historical Commodity Prices, Delivered Simply.",
    "version": "1.0.0",
    "description": "Retrieve OHLC (open, high, low, close) price data for any supported commodity on a specific date. Data is available from January 1990 onwards for 130+ commodities. Accepts one or more comma-separated commodity symbols and a date in YYYY-MM-DD format. The response contains the opening, high, low, and closing price for each symbol on the given date. Returns a 400 error for invalid dates and a 404 error for unsupported symbols or missing rates.",
    "contact": {
      "name": "APIFreaks Support",
      "url": "https://apifreaks.com/contact",
      "email": "support@apifreaks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.apifreaks.com/v1.0",
      "description": "Historical Commodity Prices API Server"
    }
  ],
  "paths": {
    "/commodity/rates/historical": {
      "get": {
        "tags": ["Commodity APIs"],
        "summary": "Get historical commodity prices",
        "description": "Returns OHLC price data for the requested commodity symbols on a specific date.",
        "operationId": "getHistoricalCommodityPrices",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Currently only `json` is supported.",
            "schema": {
              "type": "string",
              "default": "json",
              "enum": ["json"]
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": true,
            "description": "Comma-separated list of commodity symbols.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "Date in `YYYY-MM-DD` format. Data available from 1990 onwards.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HistoricalCommodityPricesResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "success": true,
                      "date": "2025-01-10",
                      "rates": {
                        "WTIOIL-SPOT": {
                          "date": "2025-01-10",
                          "open": 73.77,
                          "high": 77.16,
                          "low": 73.55,
                          "close": 75.97
                        },
                        "XAU": {
                          "date": "2025-01-10",
                          "open": 2669.93,
                          "high": 2697.85,
                          "low": 2663.61,
                          "close": 2689.44
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid date format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalidDateFormat": {
                    "summary": "Invalid date format",
                    "value": {
                      "timestamp": 1781792620618,
                      "status": 400,
                      "error": "VALIDATION_ERROR",
                      "message": "Invalid Date Format (YYYY-MM-DD).",
                      "path": "/v1.0/commodity/rates/historical"
                    }
                  },
                  "dateNotExist": {
                    "summary": "Date does not exist",
                    "value": {
                      "timestamp": 1781792620618,
                      "status": 400,
                      "error": "VALIDATION_ERROR",
                      "message": "Invalid Date: The provided date does not exist.",
                      "path": "/v1.0/commodity/rates/historical"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found - Symbol or rate not available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "symbolNotFound": {
                    "summary": "Symbol Not Found",
                    "value": {
                      "timestamp": 1781792620618,
                      "status": 404,
                      "error": "SYMBOL_NOT_FOUND",
                      "message": "The symbol is not supported, please visit the documentation for a list of supported symbols",
                      "path": "/v1.0/commodity/rates/historical"
                    }
                  },
                  "rateNotFound": {
                    "summary": "Rate Not Found",
                    "value": {
                      "timestamp": 1781792620618,
                      "status": 404,
                      "error": "RATE_NOT_FOUND",
                      "message": "no rates found for the specified date",
                      "path": "/v1.0/commodity/rates/historical"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuthHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-apiKey",
        "description": "Pass your API key via the X-apiKey request header."
      },
      "ApiKeyAuthQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "Pass your API key via the apiKey query parameter."
      }
    },
    "schemas": {
      "HistoricalCommodityPricesResponse": {
        "type": "object",
        "required": ["success", "date", "rates"],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "`true` for successful requests."
          },
          "date": {
            "type": "string",
            "description": "Date for which prices were fetched (YYYY-MM-DD)."
          },
          "rates": {
            "$ref": "#/components/schemas/HistoricalCommodityRates"
          }
        },
        "description": "Historical commodity prices response containing success status, date, and OHLC rate data."
      },
      "HistoricalCommodityRates": {
        "type": "object",
        "description": "Object of commodity symbols to their OHLC price data. Each key is a commodity symbol and the value contains date, open, high, low, and close prices.",
        "properties": {
          "symbol": {
            "$ref": "#/components/schemas/HistoricalCommodityRate"
          }
        },
        "required": ["symbol"]
      },
      "HistoricalCommodityRate": {
        "type": "object",
        "description": "OHLC price data for a single commodity on a specific date.",
        "required": ["date", "open", "high", "low", "close"],
        "properties": {
          "date": {
            "type": "string",
            "description": "Date for which prices were fetched (YYYY-MM-DD)."
          },
          "open": {
            "type": "number",
            "format": "float",
            "description": "Opening price on the given date."
          },
          "high": {
            "type": "number",
            "format": "float",
            "description": "Highest price recorded on the given date."
          },
          "low": {
            "type": "number",
            "format": "float",
            "description": "Lowest price recorded on the given date."
          },
          "close": {
            "type": "number",
            "format": "float",
            "description": "Closing price on the given date."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["timestamp", "status", "error", "message", "path"],
        "properties": {
          "timestamp": {
            "type": "integer",
            "description": "Unix timestamp in milliseconds when the error occurred."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code returned with the error."
          },
          "error": {
            "type": "string",
            "description": "Specific error type (e.g., SYMBOL_NOT_FOUND, VALIDATION_ERROR)."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message describing the failure."
          },
          "path": {
            "type": "string",
            "description": "API endpoint path that produced the error."
          }
        },
        "description": "Standard error envelope returned by the API on failed requests."
      }
    }
  },
  "security": [
    {
      "ApiKeyAuthHeader": []
    },
    {
      "ApiKeyAuthQuery": []
    }
  ]
}
