{
  "openapi": "3.1.1",
  "info": {
    "title": "PDF Encrypt API Reference",
    "version": "1.0.0",
    "description": "Encrypt a PDF file with password protection and permission restrictions. Supports setting owner and user passwords, printing, copying, and editing permissions.",
    "contact": {
      "name": "APIFreaks Support",
      "url": "https://apifreaks.com/contact",
      "email": "support@apifreaks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.apifreaks.com/v1.0",
      "description": "PDF Encrypt API Server"
    }
  ],
  "paths": {
    "/pdf/encrypt": {
      "post": {
        "tags": [
          "PDF Security APIs"
        ],
        "summary": "Add password protection to a PDF",
        "description": "This API encrypts a PDF file by setting a password required to open it.",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "xml"
              ],
              "default": "json"
            },
            "description": "Specifies the desired format for the API response. Choose 'json' for a JSON object or 'xml' for an XML structure."
          },
          {
            "name": "file_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The unique ID of a PDF file already uploaded to the API Freaks server. Use this as an alternative to uploading a new file directly."
          },
          {
            "name": "destroy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "If set to `true`, the input file(s) will be permanently deleted from the server immediately after the output PDF is generated."
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The desired name for the output encrypted PDF file. If not provided, a default name will be assigned."
          },
          {
            "name": "file_password",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The password to unlock the input file if it is already protected. Either the owner password or user password can be provided. The owner password takes precedence. Password Length should be between 6 and 128 characters."
          },
          {
            "name": "user_password",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sets the user password required to open and view the encrypted PDF file. Password Length should be between 6 and 128 characters."
          },
          {
            "name": "owner_password",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Sets the owner password for the PDF file. This password provides full access, including the ability to remove restrictions. If not provided, the `user_password` will also be used as the owner password. Password Length should be between 6 and 128 characters."
          },
          {
            "name": "webhook_url",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The URL to which the webhook notification will be sent after the task is completed."
          },
          {
            "name": "webhook_failure_notification",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "If true, a notification will also be sent by email in case the webhook request fails all the retries.  The email notification will be sent to the requesting user or their organization\u2019s admin if part of one."
          },
          {
            "name": "X-Webhook-Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional custom header for webhook requests. Format: `Key:Value` (e.g., `Authorization:Bearer token123`). This will be sent as an HTTP header in the webhook call."
          }
        ],
        "requestBody": {
          "description": "Multipart form-data body carrying the PDF file to encrypt. Alternatively, reference an already-uploaded file via the file_id query parameter instead of uploading here.",
          "required": false,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PdfFileUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF encrypt successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PDFResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Task created",
                    "value": {
                      "taskId": "c11f7d84-33f5-46da-a64c-e70b3704284e",
                      "inputIds": [
                        "2d11e722-85cc-4105-b345-f395d48b326e"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request \u2014 Missing/invalid parameters, file ID, or password",
            "content": {
              "application/json": {
                "examples": {
                  "MissingPassword": {
                    "summary": "Missing required user_password parameter",
                    "value": {
                      "error": "Invalid Param Exception",
                      "message": "please pass correct parameters",
                      "path": "/v1.0/pdf/encrypt",
                      "status": 400,
                      "timestamp": "2026-07-27T10:55:36.936Z"
                    }
                  },
                  "WeakPassword": {
                    "summary": "Password does not meet strength requirements",
                    "value": {
                      "timestamp": "2026-07-27T10:55:37.534Z",
                      "path": "/v1.0/pdf/encrypt-pdf",
                      "status": 400,
                      "error": "Weak Password Provided",
                      "message": "Please provide a strong password. Refer to the documentation for password requirements."
                    }
                  },
                  "InvalidID": {
                    "summary": "file_id is malformed or does not exist",
                    "value": {
                      "timestamp": "2026-07-27T10:55:38.063Z",
                      "path": "/v1.0/pdf/encrypt",
                      "status": 400,
                      "error": "Invalid File ID Provided",
                      "message": "Please provide a valid file ID"
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type \u2014 File type not supported",
            "content": {
              "application/json": {
                "examples": {
                  "UnsupportedFileType": {
                    "summary": "Uploaded file is not a supported type",
                    "value": {
                      "timestamp": "2026-07-27T10:55:38.634Z",
                      "path": "/v1.0/pdf/encrypt-pdf",
                      "status": 415,
                      "error": "Unsupported File Type",
                      "message": "The provided file type is not supported. Refer to the documentation for valid file types."
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "encryptPdf"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuthHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-apiKey",
        "description": "Pass your API key via the X-apiKey request header."
      },
      "ApiKeyAuthQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "Pass your API key via the apiKey query parameter."
      }
    },
    "schemas": {
      "PDFResponse": {
        "type": "object",
        "description": "Response containing the task ID and input file IDs for a PDF processing task.",
        "required": [
          "taskId"
        ],
        "properties": {
          "taskId": {
            "type": "string",
            "description": "Task ID of the requested task, used to check the task status."
          },
          "inputIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "File IDs for the input files provided for the task. Not returned when destroy parameter is true."
          }
        }
      },
      "PdfFileUploadRequest": {
        "type": "object",
        "description": "Multipart form-data request body containing the PDF file to process.",
        "required": [],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "Raw PDF file bytes sent as a multipart/form-data field named 'file'. Omit this field entirely and pass file_id in the query string instead to use an already-uploaded file."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error envelope returned by the API on failed requests.",
        "required": [
          "message"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Short error category or exception type."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message describing the failure."
          },
          "path": {
            "type": "string",
            "description": "API endpoint path that produced the error."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code returned with the error."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the error occurred (ISO 8601)."
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuthHeader": []
    },
    {
      "ApiKeyAuthQuery": []
    }
  ]
}
