{
  "openapi": "3.1.1",
  "info": {
    "title": "Admin Unit Details API Reference",
    "version": "1.0.0",
    "description": "Get detailed information about a specific administrative unit identified by its country code and admin unit code. Returns the unit name, admin code, ISO 3166-2 code, admin level type, country ISO code, and country name. Both the `country` and `admin_unit` parameters are required; invalid or unmatched combinations return a 400 or 404 error respectively.",
    "contact": {
      "name": "APIFreaks Support",
      "url": "https://apifreaks.com/contact",
      "email": "support@apifreaks.com"
    }
  },
  "servers": [
    {
      "url": "https://api.apifreaks.com/v1.0",
      "description": "Admin Unit Details API Server"
    }
  ],
  "paths": {
    "/geo/admin-unit/details": {
      "get": {
        "tags": ["GeoDB APIs"],
        "summary": "Retrieve detailed information about a specific administrative unit",
        "description": "Returns comprehensive details for a single administrative unit identified by country code and admin code.",
        "operationId": "getAdminUnitDetails",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Format of the response. Possible values: json, xml.",
            "schema": {
              "type": "string",
              "enum": ["json", "xml"],
              "default": "json"
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "Country code in ISO 3166-1 alpha-2 format (e.g., US, PK).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "admin_unit",
            "in": "query",
            "required": true,
            "description": "Admin code of the administrative unit being requested.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with admin unit details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminUnitDetailsResponse"
                },
                "examples": {
                  "typicalSuccess": {
                    "summary": "Unit with a real ISO 3166-2 subdivision code",
                    "value": {
                      "name": "California",
                      "admin_code": "CA",
                      "admin_iso3166_2": "US-CA",
                      "admin_level": "state",
                      "country_iso3166_2": "US",
                      "country_name": "United States"
                    }
                  },
                  "noIso3166_2": {
                    "summary": "Unit with no real ISO 3166-2 code (e.g. US military postal regions) — admin_iso3166_2 is absent",
                    "value": {
                      "name": "Armed Forces of the Americas",
                      "admin_code": "AA",
                      "admin_level": "military postal region",
                      "country_iso3166_2": "US",
                      "country_name": "United States"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — Missing country/admin_unit parameter, invalid country code, or invalid admin code",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "MissingParams": {
                    "summary": "Missing required country or admin_unit parameter",
                    "value": {
                      "error": "Invalid Param Exception",
                      "message": "please pass correct parameters",
                      "path": "/v1.0/geo/admin-unit/details",
                      "status": 400,
                      "timestamp": "2026-07-24T10:46:22.210Z"
                    }
                  },
                  "InvalidCountryCode": {
                    "summary": "Malformed or unrecognized country code",
                    "value": {
                      "timestamp": "2026-07-24T10:46:23.231Z",
                      "path": "/v1/admin-unit/details",
                      "status": 400,
                      "error": "Invalid Country Code provided",
                      "message": "Only ISO 3166-1 alpha-2 codes country codes are supported."
                    }
                  },
                  "InvalidAdminCode": {
                    "summary": "admin_unit code does not exist for the given country",
                    "value": {
                      "timestamp": "2026-07-24T10:46:23.768Z",
                      "path": "/v1/admin-unit/details",
                      "status": 400,
                      "error": "Invalid Admin Code provided",
                      "message": "Please provide a valid admin code."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found — Country is a recognized ISO 3166-1 alpha-2 code but has no published admin units (e.g. Vatican City)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "NoAdminUnits": {
                    "summary": "No admin units for this country",
                    "value": {
                      "timestamp": "2026-07-24T10:46:24.259Z",
                      "path": "/v1/admin-unit/details",
                      "status": 404,
                      "error": "No Admin Unit present in country",
                      "message": "This Country does not have any admin units associated with it."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuthHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-apiKey",
        "description": "Pass your API key via the X-apiKey request header."
      },
      "ApiKeyAuthQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "Pass your API key via the apiKey query parameter."
      }
    },
    "schemas": {
      "AdminUnitDetailsResponse": {
        "type": "object",
        "description": "Detailed information for a single administrative unit resolved from a country code and admin unit code.",
        "required": [
          "name",
          "admin_code",
          "admin_level",
          "country_iso3166_2",
          "country_name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the administrative unit."
          },
          "admin_code": {
            "type": "string",
            "description": "Administrative code of the unit."
          },
          "admin_iso3166_2": {
            "type": "string",
            "description": "The unit's full ISO 3166-2 code, formed as {country}-{admin_code} (e.g., US-CA, PK-BA, TV-FUN)."
          },
          "admin_level": {
            "type": "string",
            "description": "Level or type of the administrative unit (e.g., province, region, state)."
          },
          "country_iso3166_2": {
            "type": "string",
            "description": "Country code in ISO 3166-1 alpha-2 format."
          },
          "country_name": {
            "type": "string",
            "description": "Name of the country."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error envelope returned by the API on failed requests.",
        "required": ["message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Short error category or exception type."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message describing the failure."
          },
          "path": {
            "type": "string",
            "description": "API endpoint path that produced the error."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code returned with the error."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the error occurred (ISO 8601)."
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuthHeader": []
    },
    {
      "ApiKeyAuthQuery": []
    }
  ]
}
